  <div class="home__performance">
    <div class="fs-row"> 
      <div class="fs-cell fs-xl-10 fs-lg-11 fs-md-6 fs-sm-3 fs-centered">
        <div class="text-center">
          <h2 class="color--blue">{{ settings['home_welcome_message_title'] }}</h2>
          <div class="home__performance-icons fs-row">
            <div class="fs-cell fs-all-fourth fs-sm-half">
              <div class="relative">
                <img src="{{ 'gray-01.svg' | asset_url }}" class="icon icon--first img-responsive" />
                <img src="{{ 'blue-01.svg' | asset_url }}" class="icon icon--second img-responsive" />
              </div>
              <h4>MOISTURE <br class="fs-lg-hide fs-md-hide">WICKING</h4>
              <p>Never let them <br>see you sweat.</p>
            </div>
            <div class="fs-cell fs-all-fourth fs-sm-half">
              <div class="relative">
                <img src="{{ 'gray-02.svg' | asset_url }}" class="icon icon--first img-responsive" />
                <img src="{{ 'blue-02.svg' | asset_url }}" class="icon icon--second img-responsive" />
              </div>
              <h4>MACHINE <br class="fs-lg-hide fs-md-hide">WASHABLE</h4>
              <p>Kiss the dry <br>cleaners goodbye.</p>
            </div>
            <div class="fs-cell fs-all-fourth fs-sm-half">
              <div class="relative">
                <img src="{{ 'gray-03.svg' | asset_url }}" class="icon icon--first img-responsive" />
                <img src="{{ 'blue-03.svg' | asset_url }}" class="icon icon--second img-responsive" />
              </div>
              <h4>FOUR WAY <br class="fs-lg-hide fs-md-hide">STRETCH</h4>
              <p>Throw those hands <br>in the air.</p>
            </div>
            <div class="fs-cell fs-all-fourth fs-sm-half">
              <div class="relative">
                <img src="{{ 'gray-04.svg' | asset_url }}" class="icon icon--first img-responsive" />
                <img src="{{ 'blue-04.svg' | asset_url }}" class="icon icon--second img-responsive" />
              </div>
              <h4>SUPERIOR <br class="fs-lg-hide fs-md-hide">FIT</h4>
              <p>Off the rack never <br>looked so good.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>