{% layout 'wearegiants' %}

{% capture header-color %}white{% endcapture %}
{% capture header-image %}{{ collection.image.src | img_url: '2048x2048' }}{% endcapture %}

<div id="collection" class="fs-grid">

  {% assign valign = collection.metafields.hero.valign %}
  {% assign halign = collection.metafields.hero.halign %}
  {% assign color  = collection.metafields.hero.color %}

  {% if valign == 'top' %}
    {% capture vertical %}pinned pinned--top{% endcapture %}
  {% elsif valign == 'bottom' %}
    {% capture vertical %}pinned pinned--bottom{% endcapture %}
  {% elsif valign == 'center' %}
    {% capture vertical %}default{% endcapture %}
  {% else %}
    {% capture vertical %}default{% endcapture %}
  {% endif %}
  
  {% if halign == 'right' %}
    {% capture horiz %}fs-right{% endcapture %}
  {% elsif halign == 'center' %}
    {% capture horiz %}fs-center{% endcapture %}
  {% elsif halign == 'left' %}
    {% capture horiz %}{% endcapture %}
  {% else %}
    {% capture horiz %}{% endcapture %}
  {% endif %}

  <div class="collection-header relative bg--black">
    <div class="hero wallpaper collection-header__bg" data-background-options='{"source":"{{ header-image }}"}'></div>
    <div class="collection-header__content {{ vertical }}">
      <div class="fs-row">
        <div class="fs-cell fs-lg-half fs-md-half fs-sm-full {{ horiz }} color--{{ color }}">
          <div class="wrapper">
            {{ collection.description }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="invisible">

  <div class="collection-products fs-row">
    {% for product in collection.products %}
    <div class="fs-cell fs-lg-third fs-md-half fs-sm-full">
      {% include 'product-grid-item' with products_per_row %}
    </div>
    {% endfor %}
  </div>

</div>