{% layout 'wearegiants' %}

{% capture header-color %}white{% endcapture %}
{% capture header-image %}{{ collection.image.src | img_url: '2048x2048' }}{% endcapture %}
{% include 'collection-sizes-availability' %}

<div id="collection" class="fs-grid">

  {% if collection.handle == 'leeward-collection' %}

  <div class="collection-headline__border"></div>
  <div class="fs-row">
    <div class="fs-cell fs-xl-10 fs-lg-12 fs-md-5 fs-sm-3 fs-centered">
      <div class="collection-headline text-center">
        <p class="collection-headline__top">Introducing your new favorite dress shirt.</p>
        <p class="collection-headline__middle">PERFORMANCE FABRICS. PROFESSIONAL STYLE.</p>
        <p class="collection-headline__bottom">MOISTURE-WICKING | FOUR-WAY STRETCH | MACHINE WASHABLE | SUPERIOR FIT</p>
      </div>
    </div>
  </div>

  <hr class="invisible compact">

  <div class="fs-row">
    <div class="fs-cell fs-lg-8 fs-md-5 fs-sm-3 fs-centered">
      <div class="collection-notification">
        <a style="display:block" href="/collections/the-shirt" class="wrapper bg--gray text-center color--white">Use "MAINMAN3" at Checkout for $50 Off 3 Dress Shirts</a>
      </div>
    </div>
  </div>

  {% endif %}

  {% assign valign = collection.metafields.hero.valign %}
  {% assign halign = collection.metafields.hero.halign %}
  {% assign color  = collection.metafields.hero.color %}

  {% if valign == 'top' %}
    {% capture vertical %}pinned pinned--top{% endcapture %}
  {% elsif valign == 'bottom' %}
    {% capture vertical %}pinned pinned--bottom{% endcapture %}
  {% elsif valign == 'center' %}
    {% capture vertical %}default{% endcapture %}
  {% else %}
    {% capture vertical %}default{% endcapture %}
  {% endif %}
  
  {% if halign == 'right' %}
    {% capture horiz %}fs-right{% endcapture %}
  {% elsif halign == 'center' %}
    {% capture horiz %}fs-center{% endcapture %}
  {% elsif halign == 'left' %}
    {% capture horiz %}{% endcapture %}
  {% else %}
    {% capture horiz %}{% endcapture %}
  {% endif %}

  <div class="collection-header relative bg--black">
    <div class="hero wallpaper collection-header__bg" data-background-options='{"source":"{{ header-image }}"}'></div>
    <div class="collection-header__content {{ vertical }}">
      <div class="fs-row">
        <div class="fs-cell fs-lg-5 fs-md-half fs-sm-full {{ horiz }} color--{{ color }}">
          <div class="wrappers">
            {{ collection.description }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% assign collection_linklist = 'shop-dress-shirts-collections' %}
  {% assign color_linklist = 'shop-dress-shirts-colors' %}
  {% assign size_linklist = 'shop-dress-shirts-sizes' %}

  {% comment %}

  <div class="collection-filters">
    <div class="fs-row">
      <div class="fs-cell fs-all-full">
        <span class="collection-filters__title">Filters</span>
        <select id="filter-by-color" class="collection-filters__select">
          <option selected disabled>Filter by Color</option>
          <option value="">All</option>
          {% for link in linklists[color_linklist].links %}
            {% assign selected_attribute = '' %}
            {% if current_tags contains link.title %}
              {% assign selected_attribute = ' selected="selected"' %}
            {% endif %}
            <option value="{{ link.title }}"{{ selected_attribute }}>{{ link.title }}</option>
          {% endfor %}
        </select>
        <select id="filter-by-size" class="collection-filters__select">
          <option>Filter by Size</option>
          <option value="yolo">All</option>
          {% for link in linklists[size_linklist].links %}
            {% assign selected_attribute = '' %}
            {% if current_tags contains link.title %}
              {% assign selected_attribute = ' selected="selected"' %}
            {% endif %}
            <option value="{{ link.title }}"{{ selected_attribute }}>{{ link.title }}</option>
          {% endfor %}
        </select>
        <select id="filter-by-trim" class="collection-filters__select">
          <option>Filter by Fit</option>
          <option>Option 1</option>
          <option>Option 1</option>
          <option>Option 1</option>
          <option>Option 1</option>
        </select>
      </div>
    </div>
  </div>

  {% endcomment %}

  <hr class="invisible">

  <div class="collection-products fs-row">
    {% for product in collection.products %}
    <div class="fs-cell fs-lg-third fs-md-half fs-sm-full">
      {% include 'product-grid-item' with products_per_row %}
    </div>
    {% endfor %}
  </div>

</div>


<script type="text/javascript">
  // <![CDATA[
  (function() {
    $('#sort-by')
      .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
      .bind('change', function() {
        Shopify.queryParams.sort_by = $(this).val();
        location.search = $.param(Shopify.queryParams);
    });

    {% if collection.handle contains 'spinnaker' or collection.handle contains 'leeward' %}
      $('.section_select.tag select').bind('change', function() {
        var url = "/collections/";
        url += ($(this).closest('.spinnaker-filters').length) ? '{{ _collection.handle }}' : '{{ collection.handle }}'; // deciding if on spinnaker collection or not
        var $tag_selects = $('.section_select.tag > select');
        var appended_tags_count = 0;
        for (var i = 0; i < $tag_selects.length; i++) {
          var $select = $($tag_selects[i]);
          if (appended_tags_count === 0 && $select.val()) {
            url+= '/' + handleize($select.val());
            appended_tags_count++;
          } else if (appended_tags_count > 0 && $select.val()) {
            url+= '+' + handleize($select.val());
            appended_tags_count++;
          } else {
            // <select> with value of "", do nothing.
          }
        };
        var query_params = location.search.replace( /&variant\=[0-9]{10}/, '' );
        document.location.href = url + query_params;
      });
      function handleize(t) {
        return t=t.toLowerCase(),t=t.replace(/'|\"|\(|\)|\[|\]/g,""),t=t.replace(/\W+/g,"-"),"-"===t.slice(-1)&&(t=t.replace(/-+$/,"")),"-"===t.slice(0,1)&&(t=t.replace(/^-+/,"")),t
      }
    {% endif %}

  }());
</script>

{% include 'collection-sizes-availability' %}