{% layout 'wearegiants' %}

{% assign shop_1 = "Shop Dress Shirts" %}
{% assign shop_1_image = "https://dl.dropboxusercontent.com/u/2280055/Mizzen/index-shop-by-collection-1.jpg" %}

{% assign shop_2 = "Shop Chinos" %}
{% assign shop_2_image = "https://dl.dropboxusercontent.com/u/2280055/Mizzen/Chinos_2048x2048_small.jpg" %}

{% assign shop_3 = "Shop Polos" %}
{% assign shop_3_image = "https://dl.dropboxusercontent.com/u/2280055/Mizzen/index-shop-by-collection-2.jpg" %}

{% assign shop_4 = "Shop Outerwear" %}
{% assign shop_4_image = "https://dl.dropboxusercontent.com/u/2280055/Mizzen/Outerwear_2048x2048.jpg" %}

<div id="index" class="fs-grid fs-grid-fluid home-page">

  <!-- Hero -->
  <div class="home-carousel">
    <div class="slider royalslider rsMinW">
    <!--<<div class="carousel">-->

      {% for i in (1..6) %}
      {% capture slide %}home-carousel-{{ i }}__enable{% endcapture %}
      {% capture slide_shade %}home-carousel-{{ i }}__shade{% endcapture %}
      {% capture slide_image %}home-carousel-{{ i }}__image.jpg{% endcapture %}
      {% capture slide_image-mobile %}home-carousel-{{ i }}__image-mobile.jpg{% endcapture %}
      {% capture slide_title %}home-carousel-{{ i }}__title{% endcapture %}
      {% capture slide_title-color %}home-carousel-{{ i }}__title-color{% endcapture %}
      {% capture slide_title-shadow %}home-carousel-{{ i }}__title-shadow{% endcapture %}
      {% capture slide_button %}home-carousel-{{ i }}__button{% endcapture %}
      {% capture slide_url %}home-carousel-{{ i }}__url{% endcapture %}
      {% capture slide_align %}home-carousel-{{ i }}__textalign{% endcapture %}
      {% capture slide_button-color %}home-carousel-{{ i }}__button-color{% endcapture %}
      {% capture slide_button-bg %}home-carousel-{{ i }}__button-bg{% endcapture %}
      {% if settings[slide] %}

      <div class="carousel__slide relative" data-shade="{{ settings[slide_shade] }}">
        <div class="home__hero hero hero--wh bg--black relative wallpaper" data-background-options='{"source":{"300px":"{{ slide_image-mobile | asset_url }}","700px":"{{ slide_image | asset_url }}"}}'>
          <div class="centered centered--full">
            <div class="fs-row">
              <div class="fs-cell fs-lg-10 fs-md-5 fs-sm-3 fs-centered">
                <div class="{{ settings[slide_align] }}">
                  <h1 style="color:{{ settings[slide_title-color] }}" class="color--blue {% if settings[slide_title-shadow] %}has-shadow{% endif %}">{{ settings[slide_title] }}</h1>
                  <a href="{{ settings[slide_url] }}" class="btn btn--primary" style="background-color:{{ settings[slide_button-bg] }}; color:{{ settings[slide_button-color] }};">{{ settings[slide_button] }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endif %}
      {% endfor %}

    </div>
    <div class="home-carousel__nav home-carousel__nav--prev">{{ '1462563615_left.svg' | asset_url | img_tag }}</div>
    <div class="home-carousel__nav home-carousel__nav--next">{{ '1462563526_right.svg' | asset_url | img_tag }}</div>
  </div>

  <hr class="invisible">

  <!-- Performance Tag -->

  {% include 'performance-home' %}

  <!-- Shop Section -->

  <div class="home__shop" style="display: none;">
    <div class="fs-row">
      <div class="home__shop-thumb fs-cell fs-lg-full fs-md-full fs-sm-full relative">
        <div class="home__shop-image hero hero--sm relative wallpaper" data-background-options='{"source":"{{ shop_1_image }}"}'>
          <a href="#" class="covered"></a>
          <div class='centered text-center'>
            <span href="#" class="btn bg--blue color--white">{{ shop_1 }}</span>
          </div>
        </div>
      </div>
      <hr class="invisible compact fs-cell fs-all-full">
      <div class="home__shop-thumb fs-cell fs-lg-half fs-md-full fs-sm-full relative">
        <a href="#" class="covered"></a>
        <div class="home__shop-image hero hero--xs relative wallpaper" data-background-options='{"source":"{{ shop_3_image }}"}'>
          <div class='centered text-center'>
            <span href="#" class="btn bg--blue color--white">{{ shop_3 }}</span>
          </div>
        </div>
      </div>
      <hr class="invisible compact fs-cell fs-lg-hide fs-md-hide fs-sm-3">
      <div class="home__shop-thumb fs-cell fs-lg-half fs-md-full fs-sm-full relative">
        <a href="#" class="covered"></a>
        <div class="home__shop-image hero hero--xs relative wallpaper" data-background-options='{"source":"{{ shop_4_image }}"}'>
          <div class='centered text-center'>
            <span href="#" class="btn bg--blue color--white">{{ shop_4 }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="invisible">

  <!-- Magazine -->

  <div class="home__magazine">
    <div class="fs-row">
      {% for i in (1..6) %}
      {% capture mag %}home-mag-{{ i }}__enable{% endcapture %}
      {% capture mag_shade %}home-mag-{{ i }}__shade{% endcapture %}
      {% capture mag_image %}home-mag-{{ i }}__image.jpg{% endcapture %}
      {% capture mag_image-mobile %}home-mag-{{ i }}__image-mobile.jpg{% endcapture %}
      {% capture mag_title %}home-mag-{{ i }}__title{% endcapture %}
      {% capture mag_desc %}home-mag-{{ i }}__desc{% endcapture %}
      {% capture mag_button %}home-mag-{{ i }}__button{% endcapture %}
      {% capture mag_button-color %}home-mag-{{ i }}__button-color{% endcapture %}
      {% capture mag_button-bg %}home-mag-{{ i }}__button-bg{% endcapture %}
      {% capture mag_url %}home-mag-{{ i }}__url{% endcapture %}
      {% capture mag_align %}home-mag-{{ i }}__textalign{% endcapture %}
      {% capture mag_disable_button %}home-mag-{{ i }}__button-disable{% endcapture %}
      {% capture mag_video %}home-mag-{{ i }}__video{% endcapture %}

      {% if settings[mag] %}

      {% if forloop.first == true %}
      {% capture mag_size %}home__magazine--large hero hero--md{% endcapture %}
      {% capture mag_width %}fs-all-full{% endcapture %}
      {% else %}
      {% capture mag_size %}hero hero--xs{% endcapture %}
      {% capture mag_width %}fs-lg-half fs-md-half fs-sm-3{% endcapture %}
      {% endif %}

      {% unless settings[mag_video] == '' %}
      <div class="carousel__slide fs-cell fs-lg-11 fs-md-6 fs-sm-3 fs-centered">
        <div class="fitVids">{{ settings[mag_video] }}</div>
      </div>
      {% else %}
      <div class="carousel__slide fs-cell fs-lg-11 fs-md-6 fs-sm-3 fs-centered">
        <div class="home__magazine--large hero hero--md relative wallpaper" data-background-options='{"source":{"0px":"{{ mag_image-mobile | asset_url }}","980px":"{{ mag_image | asset_url }}"}}'>
          <div class="centered">
            <div class="wrapper--extra {{ settings[mag_align] }}">
              <h1>{{ settings[mag_title] }}</h1>
              <p>{{ settings[mag_desc] }}</p>
              {% unless settings[mag_disable_button] %}
              <a href="{{ settings[mag_url] }}" class="btn" style="background-color:{{ settings[mag_button-bg] }}; color:{{ settings[mag_button-color] }};">{{ settings[mag_button] }}</a>
              {% endunless %}
            </div>
          </div>
        </div>
      </div>
      {% endunless %}

      <hr class="invisible compact">

      {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- Press -->

  <!--
  <div class="home__press">
    <div class="fs-row">
      <div class="fs-cell fs-all-full">
        <div class="carousel">
          <div class="carousel__slide text-center">
            <a href="#">
              <h1 class="home__press-quote"><em>"The evolution of performance menswear."</em></h1>
              <img src="https://dl.dropboxusercontent.com/u/2280055/Mizzen/logo.png" class="img-responsive" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->

</div>