{% layout 'wearegiants' %}

{% assign shop_1 = "Shop Dress Shirts" %}
{% assign shop_1_image = "https://dl.dropboxusercontent.com/u/2280055/Mizzen/index-shop-by-collection-1.jpg" %}

{% assign shop_2 = "Shop Chinos" %}
{% assign shop_2_image = "https://dl.dropboxusercontent.com/u/2280055/Mizzen/Chinos_2048x2048_small.jpg" %}

{% assign shop_3 = "Shop Polos" %}
{% assign shop_3_image = "https://dl.dropboxusercontent.com/u/2280055/Mizzen/index-shop-by-collection-2.jpg" %}

{% assign shop_4 = "Shop Outerwear" %}
{% assign shop_4_image = "https://dl.dropboxusercontent.com/u/2280055/Mizzen/Outerwear_2048x2048.jpg" %}

<div id="index" class="fs-grid fs-grid-fluid">

  <!-- Hero -->
  <div class="home-carousel">
    <div class="carousel">

      {% for i in (1..6) %}
      {% capture slide %}home-carousel-{{ i }}__enable{% endcapture %}
      {% capture slide_shade %}home-carousel-{{ i }}__shade{% endcapture %}
      {% capture slide_image %}home-carousel-{{ i }}__image.jpg{% endcapture %}
      {% capture slide_image-mobile %}home-carousel-{{ i }}__image-mobile.jpg{% endcapture %}
      {% capture slide_title %}home-carousel-{{ i }}__title{% endcapture %}
      {% capture slide_button %}home-carousel-{{ i }}__button{% endcapture %}
      {% capture slide_url %}home-carousel-{{ i }}__url{% endcapture %}
      {% capture slide_align %}home-carousel-{{ i }}__textalign{% endcapture %}
      {% if settings[slide] %}

      <div class="carousel__slide" data-shade="{{ settings[slide_shade] }}">
        <div class="home__hero hero hero--wh bg--black relative wallpaper" data-background-options='{"source":{"0px":"{{ slide_image-mobile | asset_url }}","980px":"{{ slide_image | asset_url }}"}}'>
          <div class="centered centered--full">
            <div class="fs-row">
              <div class="fs-cell fs-all-full">
                <div class="{{ settings[slide_align] }}">
                  <h1 class="color--blue">{{ settings[slide_title] }}</h1>
                  <a href="{{ settings[slide_url] }}" class="btn btn--primary bg--white color--blue">{{ settings[slide_button] }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endif %}
      {% endfor %}

    </div>
  </div>

  <hr class="invisible">

  <!-- Performance Tag -->

  <div class="home__performance">
    <div class="fs-row"> 
      <div class="fs-cell fs-lg-10 fs-lg-push-1 fs-md-4 fs-md-push-1 fs-sm-3">
        <div class="text-center">
          <h2 class="color--blue">Performance Fabric Menswear</h2>
          <p>Our performance fabric apparel has the traditional look of<br> menswear, but feels like the most comfortable athletic gear.</p>
        </div>
      </div>
    </div>
  </div>

  <hr class="invisible">

  <!-- Shop Section -->

  <div class="home__shop" style="display: none;">
    <div class="fs-row">
      <div class="home__shop-thumb fs-cell fs-lg-full fs-md-full fs-sm-full relative">
        <div class="home__shop-image hero hero--sm relative wallpaper" data-background-options='{"source":"{{ shop_1_image }}"}'>
          <a href="#" class="covered"></a>
          <div class='centered text-center'>
            <span href="#" class="btn bg--blue color--white">{{ shop_1 }}</span>
          </div>
        </div>
      </div>
      <hr class="invisible compact fs-cell fs-all-full">
      <div class="home__shop-thumb fs-cell fs-lg-half fs-md-full fs-sm-full relative">
        <a href="#" class="covered"></a>
        <div class="home__shop-image hero hero--xs relative wallpaper" data-background-options='{"source":"{{ shop_3_image }}"}'>
          <div class='centered text-center'>
            <span href="#" class="btn bg--blue color--white">{{ shop_3 }}</span>
          </div>
        </div>
      </div>
      <hr class="invisible compact fs-cell fs-lg-hide fs-md-hide fs-sm-3">
      <div class="home__shop-thumb fs-cell fs-lg-half fs-md-full fs-sm-full relative">
        <a href="#" class="covered"></a>
        <div class="home__shop-image hero hero--xs relative wallpaper" data-background-options='{"source":"{{ shop_4_image }}"}'>
          <div class='centered text-center'>
            <span href="#" class="btn bg--blue color--white">{{ shop_4 }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="invisible">

  <!-- Magazine -->

  <div class="home__magazine">
    <div class="fs-row">
      {% for i in (1..6) %}
      {% capture mag %}home-mag-{{ i }}__enable{% endcapture %}
      {% capture mag_shade %}home-mag-{{ i }}__shade{% endcapture %}
      {% capture mag_image %}home-mag-{{ i }}__image.jpg{% endcapture %}
      {% capture mag_image-mobile %}home-mag-{{ i }}__image-mobile.jpg{% endcapture %}
      {% capture mag_title %}home-mag-{{ i }}__title{% endcapture %}
      {% capture mag_desc %}home-mag-{{ i }}__desc{% endcapture %}
      {% capture mag_button %}home-mag-{{ i }}__button{% endcapture %}
      {% capture mag_url %}home-mag-{{ i }}__url{% endcapture %}
      {% capture mag_align %}home-mag-{{ i }}__textalign{% endcapture %}
      {% if settings[mag] %}

      {% if forloop.first == true %}
      {% capture mag_size %}home__magazine--large hero hero--md{% endcapture %}
      {% capture mag_width %}fs-all-full{% endcapture %}
      {% else %}
      {% capture mag_size %}hero hero--xs{% endcapture %}
      {% capture mag_width %}fs-lg-half fs-md-half fs-sm-3{% endcapture %}
      {% endif %}

      <div class="fs-cell {{ mag_width }}">
        <div class="{{ mag_size }} relative wallpaper" data-background-options='{"source":{"0px":"{{ mag_image-mobile | asset_url }}","980px":"{{ mag_image | asset_url }}"}}'>
          <div class="centered">
            <div class="wrapper--extra text-left">
              <h1>{{ settings[mag_title] }}</h1>
              <p>{{ settings[mag_desc] }}</p>
              <a href="#" class="btn bg--blue color--white">{{ settings[mag_button] }}</a>
            </div>
          </div>
        </div>
      </div>
      <hr class="invisible compact fs-cell fs-all-full">

      {% endif %}
      {% endfor %}
    </div>
  </div>


  <hr class="invisible">

  <!-- Press -->

  <div class="home__press">
    <div class="fs-row">
      <div class="fs-cell fs-all-full">
        <div class="carousel">
          <div class="carousel__slide text-center">
            <h1 class="home__press-quote"><em>"The evolution of performance menswear."</em></h1>
            <img src="https://dl.dropboxusercontent.com/u/2280055/Mizzen/logo.png" class="img-responsive" />
          </div>
          <div class="carousel__slide text-center">
            <h1 class="home__press-quote"><em>"The evolution of performance menswear."</em></h1>
            <span class="home__press-source">NYTimes</span>
          </div>
          <div class="carousel__slide text-center">
            <h1 class="home__press-quote"><em>"The evolution of performance menswear."</em></h1>
            <span class="home__press-source">NYTimes</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>