{% layout 'theme-updated' %}
{% include 'collection-sizes-availability' %}

<div id="collection" class="fs-grid">

  {% if collection.handle == 'the-shirt' %}

  <div class="collection-headline__border"></div>

  <div class="fs-row">
    <div class="fs-cell fs-xl-10 fs-lg-12 fs-md-5 fs-sm-3 fs-centered">
      <div class="collection-headline text-center">
        <p class="collection-headline__top">Introducing your new favorite dress shirt.</p>
        <p class="collection-headline__middle">PERFORMANCE FABRICS. PROFESSIONAL STYLE.</p>
        <p class="collection-headline__bottom">MOISTURE-WICKING | FOUR-WAY STRETCH | MACHINE WASHABLE | SUPERIOR FIT</p>
      </div>
    </div>
  </div>

  <hr class="invisible">

  {% endif %}

  {% assign collection_handle = '' %}

  {% assign collection = collections.leeward-collection %}

  {% assign valign = collection.metafields.hero.valign %}
  {% assign halign = collection.metafields.hero.halign %}
  {% assign color  = collection.metafields.hero.color %}

  {% if valign == 'top' %}
    {% capture vertical %}pinned pinned--top{% endcapture %}
  {% elsif valign == 'bottom' %}
    {% capture vertical %}pinned pinned--bottom{% endcapture %}
  {% elsif valign == 'center' %}
    {% capture vertical %}default{% endcapture %}
  {% else %}
    {% capture vertical %}default{% endcapture %}
  {% endif %}
  
  {% if halign == 'right' %}
    {% capture horiz %}fs-right{% endcapture %}
  {% elsif halign == 'center' %}
    {% capture horiz %}fs-center{% endcapture %}
  {% elsif halign == 'left' %}
    {% capture horiz %}{% endcapture %}
  {% else %}
    {% capture horiz %}{% endcapture %}
  {% endif %}

  {% capture header-color %}white{% endcapture %}
  {% capture header-image %}{{ collection.image.src | img_url: '2048x2048' }}{% endcapture %} 
  <div class="collection-header relative bg--black">
    <div class="hero wallpaper collection-header__bg" data-background-options='{"source":"{{ header-image }}"}'></div>

    <div class="collection-notification bg--gray">
      <div class="fs-row">
        <div class="fs-cell fs-all-full fs-lg-hide fs-md-hide">
          <a style="display:block" href="/collections/the-shirt" class="wrapper text-center color--white">Use "MAINMAN3" at Checkout <br class="fs-lg-hide fs-md-hide"> for $50 Off 3 Dress Shirts</a>
        </div>
      </div>
    </div>

    <div class="collection-header__content {{ vertical }}">
      <div class="fs-row">
        <div class="fs-cell fs-lg-5 fs-md-half fs-sm-full {{ horiz }} color--{{ color }}">
          <div class="wrappers">
            <hr class="fs-lg-hide invisible compact">
            {{ collection.description }}
          </div>
        </div>
      </div>
    </div>
    <div class="collection-notification bg--gray">
      <div class="fs-row">
        <div class="fs-cell fs-all-full fs-sm-hide">
          <a style="display:block" href="/collections/the-shirt" class="wrapper text-center color--white">Use "MAINMAN3" at Checkout <br class="fs-lg-hide fs-md-hide"> for $50 Off 3 Dress Shirts</a>
        </div>
      </div>
    </div>
  </div>
  {% include 'collection-filter' with collection %}
  <hr class="invisible">
  <div class="collection-products fs-row">
    {% for product in collection.products %}
    <div class="fs-cell fs-lg-third fs-md-half fs-sm-half fs-xs-full">
      {% include 'product-grid-item' with products_per_row %}
    </div>
    {% endfor %}
  </div>

  <hr class="invisible">

  {% assign collection = collections.spinnaker-collection %}

  {% assign valign = collection.metafields.hero.valign %}
  {% assign halign = collection.metafields.hero.halign %}
  {% assign color  = collection.metafields.hero.color %}

  {% if valign == 'top' %}
    {% capture vertical %}pinned pinned--top{% endcapture %}
  {% elsif valign == 'bottom' %}
    {% capture vertical %}pinned pinned--bottom{% endcapture %}
  {% elsif valign == 'center' %}
    {% capture vertical %}default{% endcapture %}
  {% else %}
    {% capture vertical %}default{% endcapture %}
  {% endif %}
  
  {% if halign == 'right' %}
    {% capture horiz %}fs-right{% endcapture %}
  {% elsif halign == 'center' %}
    {% capture horiz %}fs-center{% endcapture %}
  {% elsif halign == 'left' %}
    {% capture horiz %}{% endcapture %}
  {% else %}
    {% capture horiz %}{% endcapture %}
  {% endif %}
  {% capture header-color %}white{% endcapture %}
  {% capture header-image %}{{ collection.image.src | img_url: '2048x2048' }}{% endcapture %} 
  <div class="collection-header relative bg--black">
    <div class="hero wallpaper collection-header__bg" data-background-options='{"source":"{{ header-image }}"}'></div>
    <div class="collection-header__content {{ vertical }}">
      <div class="fs-row">
        <div class="fs-cell fs-lg-5 fs-md-half fs-sm-full {{ horiz }} color--{{ color }}">
          <div class="wrappers">
            {{ collection.description }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'collection-filter' %}
  <hr class="invisible">
  <div class="collection-products fs-row">
    {% for product in collection.products %}
    <div class="fs-cell fs-lg-third fs-md-half fs-sm-half fs-xs-full">
      {% include 'product-grid-item' with products_per_row %}
    </div>
    {% endfor %}
  </div>

</div>

<hr class="invisible">