{% layout 'theme-updated' %}

{% capture header-color %}white{% endcapture %}
{% capture header-image %}https://cdn.shopify.com/s/files/1/0163/4002/files/HERO-aboeeeut.jpg?17363458158702345499{% endcapture %}

<div id="about" class="fs-grid fs-grid-fluid">
  <div class="about-header relative bg--black hero wallpaper" data-background-options='{"source":"{{ header-image }}"}'>
    <div class="centered">
      <div class="fs-row">
        <div class="fs-cell fs-all-full color--{{ header-color }}">{{ page.content }}</div>
      </div>
    </div>
  </div>
  <div class="about-nav">
    <div class="fs-row">
      <div class="fs-cell fs-all-full">
        <a class="btn btn--nav active" href="/pages/about-story">Our Story</a>
        <a class="btn btn--nav" href="/pages/about-product">Our Products</a>
      </div>
    </div>
  </div>
  {% assign blog = blogs.about-story %}
  {% for article in blog.articles %}
  {% capture tags %}{% for tag in article.tags %}{{tag}} {% endfor %}{% endcapture %}
  <div class="about-post {{ tags }}">
    <div class="fs-row">
      <div class="fs-cell fs-all-full">

        {% if tags contains 'wide' %}

        <div class="relative fs-cell fs-all-full fs-contained">
          <div class="hero about-post__content about-post__content-cover {% if tags contains 'color--white' %}light{% endif %}" style="z-index:8">
            <div class="centered wrapper--extra centered--full">
              <div class="fs-row">
                <div class="fs-cell fs-lg-8 fs-md-6 fs-sm-3 fs-centered">
                  <h3 class="about-post__title">{{ article.title }}</h3>
                  {{ article.content }}
                </div>
              </div>
            </div>
          </div>
          <div class="hero relative wallpaper about-post__content" data-background-options='{"source":"{{ article | img_url: '2048x2048' }}"}'></div>
        </div>

        {% else %}

        <div class="fs-cell fs-lg-half fs-md-full fs-sm-full fs-contained hero relative about-post__content">
          <div class="centered wrapper--extra centered--full">
            <h3 class="color--blue about-post__title">{{ article.title }}</h3>
            {{ article.content }}
          </div>
        </div>

        {% endif %}

        {% unless tags contains 'wide' %}
        <div class="fs-cell fs-lg-half fs-md-full fs-sm-full fs-contained hero bg--black wallpaper about-post__image" data-background-options='{"source":"{{ article | img_url: '2048x2048' }}"}'></div>
        {% endunless %}
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="about-shop text-center">
    <div class="fs-row">
      <div class="fs-cell fs-xl-6 fs-lg-8 fs-md-6 fs-sm-3 fs-centered">
        <div class="fs-row">
          <!--
          <div class="fs-cell fs-lg-half fs-md-half fs-sm-3">
            <a class="btn btn--full btn--yuuge" href="#">Meet the Team</a>
          </div>
          <hr class="fs-cell fs-lg-hide fs-md-hide fs-sm-3 compact invisible" />
          -->
          <div class="fs-cell fs-lg-half fs-md-half fs-sm-3 fs-centered">
            <a class="btn btn--full btn--yuuge" href="/pages/press">Press</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
