{% assign width = "section fs-cell fs-sm-3" %}

<div class="{{ width }}">
  <h4>Dress Shirts</h4>
  <ul>
    <li><a href="#">Spinnaker Collection</a></li>
    <li><a href="#">Leeward Collection</a></li>
    <li><a href="#">All Dress Shirts</a></li>
  </ul>
</div><!-- Section -->
<div class="{{ width }}">
  <h4>Tops</h4>
  <ul>
    <li><a href="#">Polos</a></li>
    <li><a href="#">Henleys</a></li>
    <li><a href="#">Tees</a></li>
  </ul>
</div><!-- Section -->
<div class="{{ width }}">
  <h4>Sweaters</h4>
  <ul>
    <li><a href="#">Sweaters</a></li>
    <li><a href="#">Quarter Zips</a></li>
  </ul>
</div><!-- Section -->
<div class="{{ width }}">
  <h4>Pants</h4>
  <ul>
    <li><a href="#">Chinos</a></li>
  </ul>
</div><!-- Section-->
<div class="{{ width }}">
  <h4>Accessories</h4>
  <ul>
    <li><a href="#">Hats</a></li>
  </ul>
</div><!-- Section -->