{% assign width = "section fs-cell fs-md-full fs-sm-full fs-xs-full text-center" %}
{% assign option = "740px" %}

<div class="{{ width }}">
  <h4><a class="swap" data-swap-options='{"maxWidth":"{{ option }}"}' data-swap-target=".sub--dress">Dress Shirts</a></h4>
  <ul class="sub--dress">
    <li><a href="#">All Dress Shirts</a></li>
    <li><a href="#">Spinnaker Collection</a></li>
    <li><a href="/collections/leeward-collection">Leeward Collection</a></li>
  </ul>
  <hr class="divider compact fs-lg-hide">
</div><!-- Section -->

<div class="{{ width }}">
  <h4><a class="swap" data-swap-options='{"maxWidth":"{{ option }}"}' data-swap-target=".sub--tops">Tops</a></h4>
  <ul class="sub--tops">
    <li><a href="#">Polos</a></li>
    <li><a href="#">Henleys</a></li>
    <li><a href="#">Tees</a></li>
  </ul>
  <hr class="divider compact fs-lg-hide">
</div><!-- Section -->

<div class="{{ width }}">
  <h4><a class="swap" data-swap-options='{"maxWidth":"{{ option }}"}' data-swap-target=".sub--outter">Outerwear</a></h4>
  <ul class="sub--outter">
    <li><a href="#">Sweaters</a></li>
    <li><a href="#">Quarter Zips</a></li>
    <li><a href="#">Blazers</a></li>
  </ul>
  <hr class="divider compact fs-lg-hide">
</div><!-- Section -->

<div class="{{ width }}">
  <h4><a class="swap" data-swap-options='{"maxWidth":"{{ option }}"}' data-swap-target=".sub--bottoms">Bottoms</a></h4>
  <ul class="sub--bottoms">
    <li><a href="#">Chinos</a></li>
  </ul>
  <hr class="divider compact fs-md-hide fs-lg-hide">
</div><!-- Section-->

<div class="{{ width }}">
  <h4><a class="swap" data-swap-options='{"maxWidth":"{{ option }}"}' data-swap-target=".sub--accs">Accessories</a></h4>
  <ul class="sub--accs">
    <li><a href="#">Hats</a></li>
  </ul>
</div><!-- Section -->